<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
    <div class="flex justify-between">
    <p class="f5 fw4 no-underline white-70 dn dib-ns ph3 mt2">
      &copy; {{ now.Format "2006" }} {{ .Site.Title }}. Korg and MicroKORG XL+ are trademarks of Korg Inc. Synthfeeder is not affiliated with Korg Inc.
    </p>
      <div>{{ partial "social-follow.html" . }}</div>
    </div>
    <div class="flex justify-between">
    <a class="f5 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="/privacy-policy" >
      Privacy Policy
    </a>
      </div>
  </footer>
  